.thumbnail img {
	width: 100%;

}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}


#delete-form {
	display: inline;
}

.delete-form {
	display: inline;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}